################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BilgeAdam.CardSwitcher/.vs
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher/bin
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher/obj/Debug
/BilgeAdam.CardSwitcher/packages
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Data/bin/Debug
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Data/obj/Debug
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher/obj/Release
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Data/bin/Release
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Data/obj/Release
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Repository/bin/Release
/BilgeAdam.CardSwitcher/BilgeAdam.CardSwitcher.Repository/obj/Release
