@{
    ViewBag.Title = "Oyun Alanı";
}

<div id="ctx">
    <div>
        <button class="button primary large" @@click="start" v-if="gameIdle">Oyun Başlat</button>
    </div>
    <div class="grid" :class="{ 'bg-green' : canPlay, 'bg-red' : !canPlay }">
        <div class="gameRow">
            <div class="gameCell" v-for="card in cards">
                <div class="box" @@click="boxClick(card)" :class="{ 'flipped' : card.isActive }">
                    <div class="front">
                        <img src="~/Images/back.jpg" />
                    </div>
                    <div class="back">
                        <img v-bind:src="card.path" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><b>Puan :</b> {{points.length * 2}}</div>
</div>

@section scripts{
    <script>
        var userName = '@HttpContext.Current.User.Identity.Name';
    </script>
    <script src="~/Scripts/pageScripts/game.js"></script>
}