
@{
    ViewBag.Title = "Index";
}

<div id="gamearea">
    <div data-role="panel"
         data-title-caption="Katılabileceğiniz Oyunlar"
         data-title-icon="<span class='mif-apps'></span>">
        <ul data-role="listview" data-view="content" data-select-node="true">
                <li data-icon="<span class='mif-user fg-orange'>"
                    data-caption="{{user}}"
                    v-for="user in users"
                    data-content="<span class='text-muted'>Puan : 123</span>"></li>
        </ul>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/pageScripts/index.js"></script>
}