
@{
    ViewBag.Title = "Index";
}

<div id="gamearea">
    <div class="row">
        <div class="cell">
            <button class="button primary large">Oyun Başlat</button>
        </div>
    </div>
    <div data-role="panel"
         data-title-caption="Katılabileceğiniz Oyunlar"
         data-title-icon="<span class='mif-apps'></span>">
        @for (int i = 0; i < 5; i++)
        {
            <ul data-role="listview" data-view="content" data-select-node="true">
                <li data-icon="<span class='mif-user fg-orange'>"
                    data-caption="Oyuncu Adı"
                    data-content="<span class='text-muted'>Puan : 234</span>"></li>
            </ul>
        }

    </div>

</div>

@section scripts{
    <script>


    </script>
}