body {
    padding-top: 64px;
}

.center {
    display: flex;
    justify-content: center;
}

.userInfo {
    position: absolute;
    right: 100px;
}

.logout {
    position: absolute;
    right: 25px;
}

.gameRow {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(6, minmax(60px, 60px));
}

.gameCell {
    padding:0px;
}

.box {
    border: 2px dashed #DDD;
    width: 60px;
    height: 60px;
}
.box:hover{
    border: 2px solid #19a4a4;
    cursor:pointer;
}

.back img, .front img {
    width: 56px;
    height: 56px;
}
